h2 {
  text-align:center;
  color: white;
}

body {
  background-image: url(http://blogs-images.forbes.com/insertcoin/files/2015/06/taken-king4.jpg);
}

p {
    color: orange;
}

h3 {
  color:white;
}

img {
  display: block;
}
